<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grus95.codelibrary">

    <!-- <activity android:name=".MainActivity"></activity> -->
    <application>
        <activity android:name=".test_activity.RecycleLayoutActivity" />
        <activity android:name=".test_activity.CircularAnimActivity" />
        <activity
            android:name=".test_activity.TVShowActivity"
            android:theme="@style/MyFullScreenTheme"></activity>
    </application>

</manifest>